<!DOCTYPE html> <!--  Define que esse documento é do tipo HTML -->
<html>
<head> <!-- TAG para informações lógicas -->
<meta charset="ISO-8859-1"> <!-- Tag que define o padrão dos caarcteres -->
<title>Insert title here</title>
</head>
<body> <!-- Corpo da página -->

	<form method="post">  <!-- Tag form define que tudo que esta dentro dela é um formulário, ela pode receber características como method -->
		Descrição: <input type="text" value="" name="descricao" /> <!-- Tag de inserção de valores (entrada) -->

		<button type="submit">Salvar</button>

	</form>


</body>
</html>